

    <div class="jumbotron">
        <h1>CPA02: Formula 1 Race Results </h1>
        <p></p>
    </div>


    <h2>
        Welcome to F1 Results Wiki
    </h2>


    <p class="p-3 m-3 border border-primary bg-light">
        In this App you can search the result of F1 Grand Prix by drivers, constructors, and years. You could also click on a subscribe button to log one record.
    </p>
   
   
    <% if (true || loggedIn) {%> 
        <div class="row">
            <div class="col">
                <img src="/images/f1.jpg"  width="100%">
                        <form method="post" action="/result/byConstructor">
                            <h4>Search Record by Constructor: </h4><br>
                              <input type="text" name="constructor" 
                                     placeholder="e.g. mclaren">
                            <input type="submit">
                        </form>
                        <br>
            </div>
            <div class="col">
                <img src="/images/driver.jpg"  width="100%">
                <form method="post" action="/result/byDriver">
                        <h4>Search Record by Driver: </h4><br> 
                        <input type="text" name="driver" 
                               placeholder="e.g. hamilton">
                        <input type="submit">
                    </form>
                    <br>


            </div>
        </div>
    <% } %> 


    <% if (true || loggedIn) {%>  
                <form method="post" action="/result/byYear">
                    <h4>Search Record by Year: </h4><br> 
                    <input type="text" name="year" 
                           placeholder="e.g. 2008">
                    <input type="submit">
                </form>
                <br>
                <a href="/schedule/show">Show Subscriptions</a>
    <% } %>  







    


